body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container{
  background: #eee;
}

.calc-row{
  float: left;
}

.calc-cell{
  background: bisque;
  height: 50px;
  width: 50px;
  text-align: center;
  border-style: solid;
  border-width: thin;
  border-color: aquamarine;
}